<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Opus.TokenUrl" value="https://sso-uat.patronas.com/realms/structured-uat/protocol/openid-connect/token" />
    <add key="Opus.BaseUrl" value="https://structured-uat.opus-online.com/" />
    <add key="Opus.RestUrl" value="opus/api/v3/masterdata/" />
    <add key="Opus.UnicreditSwapServiceUrl" value="unicredit-swap-service/api/" />
    <add key="Opus.GraphQLUrl" value="opus/api/graphql" />
    <add key="Opus.ProxyUrl" value="applicationproxy.internal.unicredit.eu:8080" />
    <add key="Opus.ClientId" value="unicredit-api-client" />
    <add key="Opus.ClientSecret" value="3z9DEno0UCDihkveoo4BuoxNTAIC1tFo" />
    <add key="Opus.ClientCertPath" value="OPUS\Cert\api.pfx" />
    <add key="Opus.ClientCertPassword" value="strongPass" />
    <add key="Opus.GraphQLQuery" value="{ assets (range: {offset: 0, size: 1000}) { edges{ node{ name id uuid __typename } } } }" />
  </appSettings>
</configuration>
