<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Opus.TokenUrl" value="https://sso-uat.patronas.com/realms/structured-uat/protocol/openid-connect/token" />
    <add key="Opus.BaseUrl" value="https://structured-uat.opus-online.com/" />
    <add key="Opus.RestUrl" value="opus/api/v3/masterdata/" />
    <add key="Opus.UnicreditSwapServiceUrl" value="unicredit-swap-service/api/" />
    <add key="Opus.GraphQLUrl" value="opus/api/graphql" />
    <add key="Opus.ProxyUrl" value="applicationproxy.internal.unicredit.eu:8080" />
    <add key="Opus.ClientId" value="unicredit-api-client" />
    <add key="Opus.ClientSecret" value="3z9DEno0UCDihkveoo4BuoxNTAIC1tFo" />
    <add key="Opus.ClientCertPath" value="OPUS\Cert\api.pfx" />
    <add key="Opus.ClientCertPassword" value="strongPass" />
    <add key="Opus.GraphQLQuery" value="{ assets (range: {offset: 0, size: 1000}) { edges{ node{ name id uuid __typename } } } }" />
    <add key="Opus.Sftp.Host" value="" />
    <add key="Opus.Sftp.Port" value="22" />
    <add key="Opus.Sftp.RemoteDirectory" value="" />
    <add key="Opus.Sftp.RemoteFilePath" value="" />
    <add key="Opus.Sftp.FilePattern" value="SwapRawOrder*.csv" />
    <add key="Opus.Sftp.Username" value="" />
    <add key="Opus.Sftp.Password" value="" />
    <add key="Opus.Sftp.PrivateKeyPath" value="" />
    <add key="Opus.Sftp.PrivateKeyPassphrase" value="" />
    <add key="Opus.OrderImport.SheetName" value="" />
    <add key="Opus.OrderImport.HeaderRowIndex" value="1" />
    <add key="Opus.OrderImport.Type" value="Transaction" />
    <add key="Opus.OrderImport.UpdatePoolUpon" value="eDoNotUpdate" />
    <add key="Opus.OrderImport.DefaultCurrency" value="" />
    <add key="Opus.OrderImport.DefaultInstrumentTypeName" value="Stock" />
    <add key="Opus.OrderImport.DefaultFxRate" value="1" />
    <add key="Opus.OrderImport.DefaultContractSize" value="1" />
    <add key="Opus.OrderImport.Retry.MaxRetries" value="3" />
    <add key="Opus.OrderImport.Retry.BaseDelayMs" value="1000" />
    <add key="Opus.OrderImport.Retry.BackoffFactor" value="2" />
    <add key="Opus.OrderImport.Retry.JitterMaxFactor" value="0.5" />
  </appSettings>
</configuration>
